<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Pix+</title>

    {% load static %}
    <!--파비콘-->
    <!--<link rel="shortcut icon" href="favicon.ico" />-->
    <link rel="icon" href="{% static '/icon/favicon.ico' %}" />
    <!--브라우저 스타일 초기화-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="stylesheet" href="{% static '/css/first_file.css' %}" />

    <!--JS-->
    <script defer src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
    <script defer src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script defer src="{% static '/js/main.js' %}"></script>
    <script defer src="{% static '/js/copy.js' %}"></script>
    <script defer src="{% static '/js/basic.js' %}"></script>
    <script defer src="{% static '/js/selection.js' %}"></script>

    <!--글꼴-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="container">
        {% block contents %}
    
            {% comment %} 다른 페이지 html 코드 여기에 작성{% endcomment %}
    
        {% endblock %}
    </div>
</body>
</html>