{% extends "basic.html" %}
{% block contents %}
{% load static %}

<div class="container">
    <!-- ICONBAR -->
    <section class="box iconbar">
      <div class="icon_news">
        <img src="{% static '/icon/icon_news.svg' %}" alt="">
      </div>
      <div class="icon_paper">
        <img src="{% static '/icon/icon_paper.svg' %}" alt="">
      </div>
      <div class="icon_url">
        <img src="{% static '/icon/icon_customurl.svg' %}" alt="">
      </div>
      <div class="icon_logout">
        <a href="{% url 'logout' %}">
            <img src="{% static '/icon/icon_logout.svg' %}" alt="">
        </a>

      </div>
    </section>
    <!-- DIRECBAR -->
    <section class="box direcbar">
      <div class="inner_top esamanru_light">
        <div>
            
            {% if user.is_authenticated %}
            {{ user.username }}, 님 환영합니다.
            {% else %}
            : welcome to pix+
            {% endif %}
        </div>
      </div>
      <nav class="inner_body">

        {% comment %} <a href="{% url 'addnewproj' %}">
            <img src="{% static '/icon/icon_logout.svg' %}" alt="">
        </a>
        <a href="{% url 'addnewfile' %}">
            <img src="{% static '/icon/icon_logout.svg' %}" alt="">
        </a> {% endcomment %}

        <div class="proj">

          <div class="folder direcbox">
            <img class="lgicon folder_icon" src="{% static '/icon/folder_open_yellow.svg' %}" alt="">
            <div class="folder_text esamanru_regul">
                2022년 1학기
            </div>
          </div>

          <div class="file direcbox">
            <div class="file_line">
              <img class="smicon index_icon" src="{% static '/icon/icon_index.svg' %}" alt="">
              <img class="mdicon file_icon" src="{% static '/icon/file.svg' %}" alt="">
              <div class="file_text">
                Hello Pix+!
              </div>
              <div class="file_drop unactive">
                ▼
              </div>
            </div>
          </div>

          <div class="file direcbox">
            <div class="file_line">
              <img class="smicon index_icon" src="{% static '/icon/icon_index.svg' %}" alt="">
              <img class="mdicon file_icon" src="{% static '/icon/file.svg' %}" alt="">
              <div class="file_text">
                MR &amp; 미디어 
              </div>
              <div class="file_drop unactive">
                ▼
              </div>
            </div>
            <div class="index direcbox">
              <img class="smicon index_icon" src="{% static '/icon/icon_index.svg' %}" alt="">
              <div class="index_text">
                01. 개념
              </div>
            </div>
            <div class="index direcbox">
              <img class="smicon index_icon" src="{% static '/icon/icon_index.svg' %}" alt="">
              <div class="index_text">
                02. 적용사례
              </div>
            </div>
          </div>

          <div class="file direcbox">
            <div class="file_line">
              <img class="smicon index_icon" src="{% static '/icon/icon_index.svg' %}" alt="">
              <img class="mdicon file_icon" src="{% static '/icon/file.svg' %}" alt="">
              <div class="file_text">
                딥러닝
              </div>
              <div class="file_drop unactive">
                ▼
              </div>
            </div>
          </div>

          <div class="file direcbox">
            <div class="file_line">
              <img class="smicon index_icon" src="{% static '/icon/icon_index.svg' %}" alt="">
              <img class="mdicon file_icon" src="{% static '/icon/file.svg' %}" alt="">
              <div class="file_text">
                취업 정보
              </div>
              <div class="file_drop unactive">
                ▼
              </div>
            </div>
          </div>

        </div>
      </nav>

    </section>
    <!-- MAINWINDOW -->
    <section class="box window_main">

      <div class="tab inner_top">
        <div class="tab_title">
          <!--제목부분네모-->
          <img class="mdicon tab_icon" src="{% static '/icon/file.svg' %}" alt="">
          <div class="tab_text">
            MR &amp; 미디어 
          </div>
          <div class="closeBtn">X</div>
        </div>
        <div class="tab_deco"></div>
        <!--제목옆에세모-->
      </div>

    <div class="inner_body">
        <div class="block_container">
            <div class="text_block">
            <span class="title">
                01. 개념
            </span>
                <br>
                반복되는 Ctrl+C Ctrl+V .. 워드 올려 🏴 웹 내려 🏳️ 다시 워드 올리지말고 메모장 올려 🏴
                <br>
                아까 본 그 자료.. 어딨지?! 탭이 너무 많아 😵💫

                <table> 
                    <tr> 
                    <td onCopy='javascript:contents_cp();'> 
                    마우스 드래그 복사시 출처 자동복사<br> 
                    onCopy='javascript:contents_cp();'를 div,span,td,p...... 태그등에 넣어주세요.<br> 
                    </td> 
                    </tr> 
                    </table>
            </div>
        </div>

        <div class="block_container">
            <div class="text_block">
            <span class="title">
                02. 적용사례
            </span>
                <br>
                ## 보로디노 전투 파노라마(1812)

                파노라마로 사람을 감싸 이 전투를 사람들이 하여금 놓여져있는 기분이 들게함. 
                <br>

                ## 입체시 이론 등장 - Charles Wheatstone (1802-1875)

                입체시 이론 : 단순히 작아져서 X , 나만의 시차가 존재, 깊이감을 느껴 입체감을 느낄 수 있다.

                → 오른쪽 눈, 왼쪽 눈이 볼 수 있는 시야각

                → 구도가 다른 사진을 각 각 오른쪽 왼쪽 눈 바로 앞에서 보여줌. 시차발생 !
                <br>

                **깊이감의 시초**

                입체시이론 → 개발 : Stereoscope(입체감) 19C

                카드보드
                <br>

                ## 현대와 비슷한 사고 - Stanley G. Weinbaum (1902-1935)

                오감을 느낄 수 있는 고글이 등장하는 소설을 쓴 작가. 

                비슷한 환경에 대해 상상 😵💫
            </div>
        </div>
    </div>


    </section>

{% endblock %}

