<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Pix+</title>

    {% load static %}
    <!--파비콘-->
    <!--<link rel="shortcut icon" href="favicon.ico" />-->
    <link rel="icon" href="{% static '/icon/favicon.ico' %}" />
    <!--브라우저 스타일 초기화-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="stylesheet" href="{% static '/css/login.css' %}" />
    <!--JS-->
    <script defer src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script defer src="{% static '/js/main.js' %}"></script>

    <!--글꼴-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <!-- ICONBAR -->
    <section class="box iconbar">
      <div class="icon_news">
        <img src="{% static '/icon/icon_news.svg' %}" alt="">
      </div>
      <div class="icon_paper">
        <img src="{% static '/icon/icon_paper.svg' %}" alt="">
      </div>
      <div class="icon_url">
        <img src="{% static '/icon/icon_customurl.svg' %}" alt="">
      </div>
      <div class="icon_logout">
        <a href="{% url 'logout' %}">
          <img src="{% static '/icon/icon_logout.svg' %}" alt="" >
        </a>
      </div>
    </section>
    <!-- DIRECBAR -->
    <section class="box direcbar">
      <div class="inner_top esamanru_light">
        <div>: welcome to pix+</div>
      </div>
      <nav class="inner_body">
        <div class="proj">

          <div class="folder direcbox">
            <img class="lgicon folder_icon" src="{% static '/icon/folder_open_yellow.svg' %}" alt="">
            <div class="folder_text esamanru_regul">
              픽쁠입니다
            </div>
          </div>

          <div class="file direcbox">
            <div class="file_line">
              <img class="smicon index_icon" src="{% static '/icon/icon_index.svg' %}" alt="">
              <img class="mdicon file_icon" src="{% static '/icon/file.svg' %}" alt="">
              <div class="file_text">
                Hello Pix+!
              </div>
              <div class="file_drop unactive">
                ▼
              </div>
            </div>
          </div>
          
          <div class="file direcbox">
            <div class="file_line">
              <img class="smicon index_icon" src="{% static '/icon/icon_index.svg' %}" alt="">
              <img class="mdicon file_icon" src="{% static '/icon/file.svg' %}" alt="">
              <div class="file_text">
                How to?
              </div>
              <div class="file_drop unactive">
                ▼
              </div>
            </div>
            <div class="index direcbox">
              <img class="smicon index_icon" src="{% static '/icon/icon_index.svg' %}" alt="">
              <div class="index_text">
                01. 기능
              </div>
            </div>
            <div class="index direcbox">
              <img class="smicon index_icon" src="{% static '/icon/icon_index.svg' %}" alt="">
              <div class="index_text">
                02. 혜택
              </div>
            </div>
          </div>

          <div class="file direcbox">
            <div class="file_line">
              <img class="smicon index_icon" src="{% static '/icon/icon_index.svg' %}" alt="">
              <img class="mdicon file_icon" src="{% static '/icon/file.svg' %}" alt="">
              <div class="file_text">
                <a class="file_link" href="{% url 'login' %}" target="_self">LOGIN</a>
              </div>
              <div class="file_drop unactive">
                ▼
              </div>
            </div>
          </div>

          <div class="file direcbox">
            <div class="file_line">
              <img class="smicon index_icon" src="{% static '/icon/icon_index.svg' %}" alt="">
              <img class="mdicon file_icon" src="{% static '/icon/file.svg' %}" alt="">
              <div class="file_text">
                <a class="file_link" href="{% url 'newpixple' %}" target="_self">Join PIX+</a>
              </div>
              <div class="file_drop unactive">
                ▼
              </div>
            </div>
          </div>

        </div>
      </nav>

    </section>
    <!-- MAINWINDOW -->
    <section class="box window_main">

      <div class="tab inner_top">
        <div class="tab_title">
          <!--제목부분네모-->
          <img class="mdicon tab_icon" src="{% static '/icon/file.svg' %}" alt="">
          <div class="tab_text">
            Hello Pix+!
          </div>
          <div class="closeBtn">X</div>
        </div>
        <div class="tab_deco"></div>
        <!--제목옆에세모-->
      </div>

      <div class="inner_body">
        
        <div class="block_container login_block">
          <div class="logo block_container">
            <div class="logo_block">
              <img src="{% static '/icon/logo_pixel.svg' %}" alt="">
            </div>
          </div>
          <div class="title">시작해볼까요 !</div>
          <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <fieldset class="login_fieldset">
              ID <input class="inputblank" type="text" name="username" placeholder="아이디"/>
              PASSWORD <input class="inputblank" type="password" name="password" placeholder="비밀번호"/>
            </fieldset>
            <input class="btn" type="submit" value="로그인"/>
          </form>
        </div>
      </div>
    </section>

  </div>

</body>
</html>