
@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');

body{
    padding: 15px;

    position: relative;
    width: 1080px;
    height: 720px;
    background: url(/static/img/img_background_pattern1.png), #787D82;
    background-size: 20px;
    background-repeat: repeat;
    font-family: 'GongGothicLight';
}

.direcbar{
    /* directory */
    position: absolute;
    width: 156px;
    height: 690px;
    left: 79.5px;
    top: 15px;

    margin-right: 15px;

}

.direcbar_top{
    /* directory_top */
    width: 156px;
    height: 26px;
    position: absolute;

    background: #D2D6DA;
    border: 1px solid #1D1E1F;
    box-sizing: border-box;

    /* : welcome to pix+ */
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 26px;
    padding-left: 10px;
    color: #787D82;
}

.direcbar_body{
    /* directory_body */
    width: 156px;
    height: 690px;

    /* 흰회색 */
    background: #FBFBFB;
    border: 1px solid #1D1E1F;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px #1D1E1F;
    
    padding-top: 26px;
}

details.proj {
    font-family: GongGothicMedium;
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
}

details > summary {
    outline: 0;
    cursor: pointer;
    /* list-style-type: none; */
    list-style-image: url(/static/icon/folder_close_yellow.svg);
}

details > summary::-webkit-details-marker {
    color: transparent;
    transform: rotate3d(0, 0, 1, 90deg);
    transition: transform 0.25s;
}


/* porj open 했을 때 proj 효과 */
details[open] > summary::marker {
    transform: rotate3d(0, 0, 1, 180deg);
    list-style-image: url(/static/icon/folder_open_yellow.svg);
}

details[open] > summary::-webkit-details-marker {
    transform: rotate3d(0, 0, 1, 180deg);
    list-style-image: url(/static/icon/folder_open_yellow.svg);    
}

details[open] > summary {
    color: red;
}

details[open] > summary ~ * {
    animation: reveal 0.5s;
}


@keyframes reveal {
    from {
        opacity: 0;
        transform: translate3d(0, -10px, 0);
    }


    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


ul{
    list-style-image: url(/static/icon/icon_index.svg);
}

.itme_ul{
    font-family: 'GongGothicLight';
    font-size: 14px;
}

.iconbar{
    /* sidebar */
    position: absolute;
    width: 52px;
    height: 690px;
    left: 15px;
    top: 15px;

    /* 연한회색 */
    background: #D2D6DA;
    border: 1px solid #1D1E1F;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px #1D1E1F;

    margin-right: 15px;
}

.icon_news{
    /* news */
    margin: 10px;
    width: 32px;
    height: 32px;
    left: 25px;
    top: 25px;
    margin: 10px;
}
.icon_paper{
    /* news */
    margin: 10px;
    width: 32px;
    height: 32px;
    left: 25px;
    top: 25px;
}
.icon_url{
    /* news */
    margin: 10px;
    width: 32px;
    height: 32px;
    left: 25px;
    top: 25px;
}
.icon_logout{
    /* logout */
    margin: 10px;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 630px;
}

.logo_div{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
}

.logo{
    width: 239px;
    height: 111px;
}

.window_main{
    /* main */
    position: absolute;
    width: 817px;
    height: 690px;
    left: 248px;
    top: 15px;
}
.window_active_tab{
    /* tab */
    width: 130px;
    height: 26px;
    left: 248px;
    top: 15px;

    background: #FBFBFB;
}
.window_active{
    /* window active body */
    width: 817px;
    height: 664px;
    left: 248px;
    top: 41px;
    
    background: #FBFBFB;
    border: 1px solid #1D1E1F;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px #1D1E1F;
}

.project_container{
    display: grid;
    row-gap: 10px;
    justify-content: space-around;
    align-content: space-evenly;
    /* grid-template-columns: 0.5fr 1fr; */
}

.label_proj{
    padding-left: 9px;
}


.item_file{
    font-family: GongGothicLight;
    font-size: 12px;
}

.icon_proj{
    /* opened folder */
    position: absolute;
    height: 24px;
    width: 24px;
    left: 10px;
    border-radius: 0px;
}
.icon_file{
    width: 16px;
    height: 16px;
    left: 114px;
    top: 85px;
}
.block_div{
    display: flex;
    justify-content: center;
}
section.block{
    /* text block3 */
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    position: relative;
    width: 777px;
    height: max-content;

    background: #FBFBFB;
    border: 1px dashed #787D82;
    box-sizing: border-box;
    box-shadow: 2px 2px 0px #D2D6DA;

    /* display: flex; */
    /* align-items: center; */
    padding: 10px;

    margin: 10px;
}
.title{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 20px;

}
.highlight_yellow{
    background-color: #FFEF79;
}
.comment{
    /* comment block */
    width: 760px;
    height: max-content;
    padding: 10px;

    background: #D2D6DA;
    border-radius: 5px;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}